<%= form_for @more_of_my_model, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :you_betcha, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :you_betcha, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :how_many, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :how_many, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  more_of_my_models_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
