<%- model_class = MoreOfMyModel -%>
<div class="page-header">
  <h1><%=t '.title', :default => MoreOfMyModel %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:you_betcha) %></th>
      <th><%= model_class.human_attribute_name(:how_many) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @more_of_my_models.each do |more_of_my_model| %>
      <tr>
        <td><%= more_of_my_model.id %></td>
        <td><%= more_of_my_model.you_betcha %></td>
        <td><%= more_of_my_model.how_many %></td>
        <td><%=l more_of_my_model.created_at, format: :long %></td>
        <td>
          <%= link_to more_of_my_model_path(more_of_my_model), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to more_of_my_model_path(more_of_my_model), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_more_of_my_model_path,
            :class => 'btn btn-primary' %>
