<p id="notice"><%= notice %></p>

<p>
  <strong>You betcha:</strong>
  <%= @more_of_my_model.you_betcha %>
</p>

<p>
  <strong>How many:</strong>
  <%= @more_of_my_model.how_many %>
</p>

<p>
  <strong>My model:</strong>
  <%= @more_of_my_model.my_model %>
</p>

<%= link_to 'Edit', edit_more_of_my_model_path(@more_of_my_model) %> |
<%= link_to 'Back', more_of_my_models_path %>
